<section class="about">
  <div class="container container-about vertical-line vertical-line--ligth">
    <div class="container__reset">
      <div class="about__thumb">
        <div class="about__text">
          <h2 class="visually-hidden">Про наш ресторан</h2>
          <h3 class="about__title">Lorem ipsum dolor sit</h3>
          <span class="name">mimiho</span>
          <p class="about__description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
            aut iusto beatae quas ab nulla minus officiis asperiores, soluta
            officia voluptatem eum nesciunt, non sequi et.
          </p>
        </div>

        <img
          srcset="
            ./images/desktop/restaurant-content1-desktop@2x.jpg 2x,
            ./images/desktop/restaurant-content1-desktop.jpg    1x
          "
          src="./images/desktop/restaurant-content1-desktop.jpg"
          alt="khgd"
          class="about__image"
          loading="lazy"
        />
      </div>

      <div class="about__thumb-second about__thumb-fix">
        <img
          srcset="
            ./images/desktop/restaurant-content2-desktop@2x.jpg 2x,
            ./images/desktop/restaurant-content2-desktop.jpg    1x
          "
          src="./images/desktop/restaurant-content2-desktop.jpg"
          alt="khgd"
          class="about__image--second"
          loading="lazy"
        />

        <p class="about__feature">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni libero
          animi doloribus architecto voluptates magnam beatae, eveniet incidunt,
          reprehenderit necessitatibus repellat provident minima, itaque cumque
          maiores?
        </p>
      </div>
      <div class="slider-thumb-restaurant">
       <div class="slider-thumb-restaurant">
        <div class="about-section-slider about-section-slider-fix swiper">
          <!-- Additional required wrapper -->
          <div class="about-section-slider__wrapper swiper-wrapper">
            <!-- Slides -->
            <div class="about-section-slider__slide swiper-slide">
              <img
                srcset="
                  ./images/mobile/img-slider-7@2x.jpg  490w,
                  ./images/mobile/img-slider-7.jpg     245w,
                  ./images/tablet/img-slider-7@2x.jpg  388w,
                  ./images/tablet/img-slider-7.jpg     194w,
                  ./images/desktop/img-slider-7@2x.jpg 508w,
                  ./images/desktop/img-slider-7.jpg    254w
                "
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 100vw"
                class="about-section-slider__img"
                src="./images/mobile/img-slider-7.jpg"
                alt="oysters and two glasses of white wine"
                loading="lazy"
              />
            </div>
            <div class="about-section-slider__slide swiper-slide">
              <img
                srcset="
                  ./images/mobile/img-slider-9@2x.jpg  490w,
                  ./images/mobile/img-slider-9.jpg     245w,
                  ./images/tablet/img-slider-9@2x.jpg  388w,
                  ./images/tablet/img-slider-9.jpg     194w,
                  ./images/desktop/img-slider-9@2x.jpg 508w,
                  ./images/desktop/img-slider-9.jpg    254w
                "
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 100vw"
                class="about-section-slider__img"
                src="./images/mobile/img-slider-2.jpg"
                alt="breakfast with coffee"
                loading="lazy"
              />
            </div>
            <div class="about-section-slider__slide swiper-slide">
              <img
                srcset="
                  ./images/mobile/img-slider-15@2x.jpg  490w,
                  ./images/mobile/img-slider-15.jpg     245w,
                  ./images/tablet/img-slider-15@2x.jpg  388w,
                  ./images/tablet/img-slider-15.jpg     194w,
                  ./images/desktop/img-slider-15@2x.jpg 508w,
                  ./images/desktop/img-slider-15.jpg    254w
                "
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 100vw"
                class="about-section-slider__img"
                src="./images/mobile/img-slider-15.jpg"
                alt="Table with food and two glasses with orange juice"
                loading="lazy"
              />
            </div>
            <div class="about-section-slider__slide swiper-slide">
              <img
                srcset="
                  ./images/mobile/img-slider-16@2x.jpg  490w,
                  ./images/mobile/img-slider-16.jpg     245w,
                  ./images/tablet/img-slider-16@2x.jpg  388w,
                  ./images/tablet/img-slider-16.jpg     194w,
                  ./images/desktop/img-slider-16@2x.jpg 508w,
                  ./images/desktop/img-slider-16.jpg    254w
                "
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 100vw"
                class="about-section-slider__img"
                src="./images/mobile/img-slider-16.jpg"
                alt="cereals with berries breakfast"
                loading="lazy"
              />
            </div>
            <!-- /.swiper-wrapper -->
          </div>
          <!-- If we need navigation buttons -->
          <div
            class="about-section-slider__button-prev fix-button-prev swiper-button-prev"
          ></div>
          <div
            class="about-section-slider__button-next fix-button-next swiper-button-next"
          ></div>
          <!-- /swiper -->
        </div>
      </div>
    </div>
  </div>
</section>
