<section class="hero-restaurant">
  <div class="hero-restaurant__container container">
    <h1 class="hero-restaurant__title">MIMIHO</h1>
    <h2 class="hero-restaurant__subtitle">Ресторан</h2>
    <p class="hero-restaurant__text">СМАК ЖИТТЯ 24/7</p>
    <ul class="hero-restaurant__list">
      <li class="hero-restaurant__item">
        <button
          class="hero-restaurant__button hero-restaurant__button--first button__primary button__primary--transparent data-table-modal-open"
          type="button"
        >
          Забронювати столик
        </button>
      </li>
      <li class="hero-restaurant__item">
        <button
          class="hero-restaurant__button hero-restaurant__button--second button__primary button__primary--transparent"
          type="button"
          onclick="location.href='#menu'"
        >
          Переглянути меню
        </button>
      </li>
    </ul>
    <address class="hero-restaurant__address address">
      <a
        class="address__link"
        href="https://goo.gl/maps/Z9ZDGPFKSgUdqrtR8"
        target="_blank"
        href=""
      >
        <svg class="address__icon">
          <use href="/src/images/symbol-defs.svg#icon-location"></use>
        </svg>
        <p class="address__text">
          Україна, м. Полтава,
          <span class="address__span">вул. Маршала Бірюзова, 15</span>
        </p>
      </a>
    </address>
    <ul class="hero-restaurant__social social">
      <li class="social__item">
        <a class="social__link" href="https://www.instagram.com/">
          <svg class="social__icon" width="24" height="24">
            <use href="/src/images/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="https://www.facebook.com/">
          <svg class="social__icon" width="24" height="24">
            <use href="/src/images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="https://telegram.org/">
          <svg class="social__icon" width="24" height="24">
            <use href="/src/images/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
