<section id="menu" class="menu">
    <div class="container container__menu vertical-line vertical-line--dark">
      <div class="container-padding"><h2 class="menu__title">Меню Ресторану</h2>
      <div class="menu__content">
        <div class="menu__container-dish">
          <table class="menu__table">
            <caption class="menu__caption">
              Гарячі страви
            </caption>
            <tbody>
              <tr class="menu__tr-dish">
                <th class="menu__dish">Борщ з телятини з квасолею
                  <div class="menu__desc">
                    Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                    помідори, зелень, сметана
                  </div>
                </th>
                <td class="menu__heft">400 г</td>
                <td class="menu__price">240 грн</td>
              </tr>
              <tr class="menu__tr-dish">
                <th class="menu__dish">Суп сирний з куркою
                  <div class="menu__desc">
                    Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
                  </div>
                </th>
                <td class="menu__heft">400 г</td>
                <td class="menu__price">200 грн</td>
              </tr>
              <tr class="menu__tr-dish">
                <th class="menu__dish">Паста карбонара
                  <div class="menu__desc">
                    Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                  </div>
                </th>
                <td class="menu__heft">350 г</td>
                <td class="menu__price">430 грн</td>
              </tr>
              <tr class="menu__tr-dish">
                <th class="menu__dish">Стейк зі свинини
                  <div class="menu__desc">
                    Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами
                  </div>
                </th>
                <td class="menu__heft">400 г</td>
                <td class="menu__price">500 грн</td>
              </tr>
              <tr class="menu__tr-dish">
                <th class="menu__dish">Горбуша в соусі з білого вина
                  <div class="menu__desc">
                    Ніжна горбуша, вершковий соус на основі білого вина
                  </div>
                </th>
                <td class="menu__heft">400 г</td>
                <td class="menu__price">400 грн</td>
              </tr>
            </tbody>
          </table>
          <table class="menu__table">
            <caption class="menu__caption">
              Гарніри та закуски
            </caption>
            <tbody class="menu__tbody">
              <tr class="menu__tr-dish">
                <th class="menu__dish">Запечені овочі
                  <div class="menu__desc">
                    Кабачок, перець, помідор, баклажан
                </th>
                <td class="menu__heft">200 г</td>
                <td class="menu__price">230 грн</td>
              </tr>
              <tr class="menu__tr-dish">
                <th class="menu__dish">Картопля фрі
                  <div class="menu__desc">
                    Картопля, соус томатний
                  </div>
                </th>
                <td class="menu__heft">150 г</td>
                <td class="menu__price">160 грн</td>
              </tr>
              <tr class="menu__tr-dish">
                <th class="menu__dish">Картопля по-селянськи
                  <div class="menu__desc">
                    Картопля, спеції, соус пікантний
                  </div>
                </th>
                <td class="menu__heft">150 г</td>
                <td class="menu__price">160 грн</td>
              </tr>
              <tr class="menu__tr-dish">
                <th class="menu__dish">Хрумкі соління з бочки
                  <div class="menu__desc">
                    Огірок солений, помідор квашений, квашена капуста, морква по-корейські
                  </div>
                </th>
                <td class="menu__heft">250 г</td>
                <td class="menu__price">350 грн</td>
              </tr>
              <tr class="menu__tr-dish">
                <th class="menu__dish">Крильця курячі в медовому соусі
                  <div class="menu__desc">
                    Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз
                  </div>
                </th>
                <td class="menu__heft">400 г</td>
                <td class="menu__price">420 грн</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="menu__container-desert">
          <table class="menu__table">
            <caption class="menu__caption">
              Салати
            </caption>
            <tbody class="menu__tbody">
              <tr class="menu__tr-dish">
                <th class="menu__dish">Цезар з куркою
                  <div class="menu__desc">
                    Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар
                </th>
                <td class="menu__heft">230 г</td>
                <td class="menu__price">450 грн</td>
              </tr>
              <tr class="menu__tr-dish">
                <th class="menu__dish">Цезар з креветками
                  <div class="menu__desc">
                    Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар
                  </div>
                </th>
                <td class="menu__heft">230 г</td>
                <td class="menu__price">300 грн</td>
              </tr>
              <tr class="menu__tr-dish">
                <th class="menu__dish">Грецький салат
                  <div class="menu__desc">
                    Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус
                  </div>
                </th>
                <td class="menu__heft">230 г</td>
                <td class="menu__price">280 грн</td>
              </tr>
              <tr class="menu__tr-dish">
                <th class="menu__dish">М’ясний салат
                  <div class="menu__desc">
                    Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч
                  </div>
                </th>
                <td class="menu__heft">230 г</td>
                <td class="menu__price">300 грн</td>
              </tr>
            </tbody>
          </table>
          <table class="menu__table">
            <caption class="menu__caption">
              Десерти
            </caption>
            <tbody class="menu__tbody-desert">
              <tr class="menu__tr-dish">
                <th class="menu__dish menu__dish-des">Торт наполеон</th>
                <td class="menu__heft">230 г</td>
                <td class="menu__price">300 грн</td>
              </tr>
              <tr class="menu__tr-dish">
                <th class="menu__dish menu__dish-des">Торт маковий</th>
                <td class="menu__heft">230 г</td>
                <td class="menu__price">300 грн</td>
              </tr>
              <tr class="menu__tr-dish">
                <th class="menu__dish menu__dish-des">Тірамісу</th>
                <td class="menu__heft">120 г</td>
                <td class="menu__price">260 грн</td>
              </tr>
            </tbody>
          </table>
          <table class="menu__table">
            <caption class="menu__caption">
              Напої
            </caption>
            <tr class="menu__tr-dish">
              <th class="menu__dish menu__dish-des">Чай чорний/зелений</th>
              <td class="menu__heft">500 мл</td>
              <td class="menu__price">100 грн</td>
            </tr>
            <tr class="menu__tr-dish">
              <th class="menu__dish menu__dish-des">Еспресо</th>
              <td class="menu__heft">30 мл</td>
              <td class="menu__price">100 грн</td>
            </tr>
            <tr class="menu__tr-dish">
              <th class="menu__dish menu__dish-des">Американо</th>
              <td class="menu__heft">150 мл</td>
              <td class="menu__price">100 грн</td>
            </tr>
            <tr class="menu__tr-dish">
              <th class="menu__dish menu__dish-des">Капучино</th>
              <td class="menu__heft">200 мл</td>
              <td class="menu__price">160 грн</td>
            </tr>
            <tr class="menu__tr-dish">
              <th class="menu__dish menu__dish-des">Лате</th>
              <td class="menu__heft">200 мл</td>
              <td class="menu__price">160 грн</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="container__btn">
        <button type="button"
          class="button button__primary button__primary--black button__menu data-table-modal-open">
          Забронювати столик
        </button>
      </div></div>
    </div>
  </section>
</div>