

.about__text-hotel {
  margin-left: auto;
  width: 258px;
  text-align: end;
  margin-bottom: 28px;

  @include mq(tablet) {
    margin: 0;
    width: 419px;
  }

  @include mq(desktop) {
    width: 488px;
  }

}

.about__thumb-hotel {
  margin-bottom: 32px;

  @include mq(tablet) {
    position: relative;
    top: -44px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 46px;
    justify-content: center;
    flex-direction: row-reverse;

  }

  @include mq(desktop) {
    gap: 67px;
  }
}

.about__title {
  font-family: font(_times_);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(23/20);

  color: #B4B4B4;
  margin-bottom: 12px;

  @include mq(tablet) {
    font-size: 32px;
    line-height: calc(37/32);

  }

  @include mq(desktop) {
    margin-bottom: 4px;
  }
}

.about__description {
  font-family: font(_montserrat_);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15/12);
  letter-spacing: 0.02em;

  color: #5F5F5F;

  @include mq(tablet) {
    font-size: 16px;
    line-height: calc(20/16);

  }
}

.name {
  display: block;
  font-family: font(_film_);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43/40);

  letter-spacing: 0.3em;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: var(--mimino-second-color);

  @include mq(tablet) {
    font-size: 64px;
    line-height: calc(69/64);
    margin-bottom: 24px;
  }
    @include mq(desktop) {
      color: var(--mimino-first-color);
    }
}

.about__feature {
  font-family: font(_montserrat_);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15/12);
  letter-spacing: 0.02em;
  color: #C79002;

  @include mq(tablet) {
    font-size: 16px;
    line-height: calc(20/16);
    width: 312px;
  }

}

.about__image-hotel {
  width: 244px;
  margin-right: auto;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @include mq(tablet) {
    width: 400px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    margin: 0;
  }

  @include mq(desktop) {
    width: 450px;
  }
}

.about__image--second {
  width: 200px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @include mq(tablet) {
    width: 350px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }

  @include mq(desktop) {
    width: 450px;
  }
}

.about__thumb-second--reversed {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row-reverse;
  margin-bottom: 32px;

  @include mq(tablet) {
    margin: 0;
    gap: 48px;
    margin-right: 33px;
    position: relative;
    top: -58px;
    right: 20px;
  }

  @include mq(desktop) {
    gap: 45px;
    top: -112px;
    
  }
}

