.backdrop {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--backdrop-color);
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);

  visibility: visible;
  opacity: 1;
  z-index: 1001; //хто більше?
  @include transition(
    opacity visibility box-shadow background-color,
    500ms 500ms 250ms 250ms,
    var(--cubic-primary),
    0ms 0ms 0ms 250ms
  );
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop--not-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop__modal {
  position: absolute;
  left: 50%;
  margin-bottom: -5vh;
  top: 5vh;

  @include mq(tablet) {
    margin-bottom: 15vh;
    top: 15vh;
  }
}
