.contacts {
  
  &-container {
    @include mq(tablet) {
      padding: 0;
    }
  }
  &__system {
    display: block;
    @include mq(tablet) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin: 0 47px;
      align-items: center;
    }
    @include mq(desktop) {
      margin: 0 85px;
    }
  }
  &__sys-item {
    display: block;
  }
  &__logo {
    margin-bottom: 12px;
    color: var(--mimino-first-color);
    font-family: font(_film_);
    font-weight: 700;
    font-size: 40px;
    line-height: calc(43 / 40);
    letter-spacing: 0.3em;
    @include mq(tablet) {
      font-size: 64px;
      line-height: calc(69 / 64);
      margin-bottom: 8px;
    }
    @include mq(desktop) {
      margin-bottom: 16px;
    }
  }
  &__sub-logo {
    color: var(--mimino-first-color);
    font-weight: 600;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.02em;
    @include mq(tablet) {
      margin-bottom: 52px;
    }
    @include mq(desktop) {
      font-size: 20px;
      margin-bottom: 40px;
    }
  }
  &-nav {
    display: block;

    &__list {
      @extend %list;
      margin-top: 16px;
    }
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      @include mq(tablet) {
        display: block;
        margin-bottom: 24px;
      }
    }
    &__link {
      display: block;
      @extend %link;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.21;
      letter-spacing: 0.02em;
      color: var(--brown-text-color);
      @include mq(tablet) {
        margin-bottom: 8px;
      }
    }
    &__number {
      @extend %link;
      display: flex;
      align-items: center;
      border: 0.5px solid var(--button-accent-color);
      border-radius: 2px;
      padding: 12px 8px 11px;
      gap: 8px;
      @include mq(tablet) {
        width: 144px;
        height: 40px;
        margin-bottom: 24px;
      }
    }
    &__address {
      margin-bottom: 16px;
      @include mq(tablet) {
        margin-bottom: 48px;
      }
    }
    &__svg {
      width: 24px;
      height: 24px;
      fill: var(--brown-text-color);
      align-items: center;
    }
    &__number--list {
      display: flex;
      align-items: center;
      @extend %list;
      border: 0.5px solid var(--button-accent-color);
      border-radius: 2px;
      @include mq(tablet) {
        width: 264px;
        height: 40px;
      }
    }
    &__number--hotel {
      @extend %link;
      display: flex;
      align-items: center;
      padding: 12px 8px 11px;
      gap: 8px;
    }
    &__location {
      justify-content: flex-end;
      margin-bottom: 32px;
    }
  }
  &-restaurant {
    margin-right: 22px;
  }
  &-hotel {
    margin-right: 54px;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
  }

  &-address {
    width: 260px;
    padding: 8px 6px;
    border-radius: 2px;
    border: 1px solid var(--button-accent-color);
    @include mq(tablet) {
      width: 285px;
    }

    &__link {
      gap: 8px;
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    &__icon {
      width: 20px;
      height: 20px;
      position: absolute;
      fill: var(--yellow-text-color);
    }

    &__text {
      color: var(--mimino-second-color);
      margin-left: 28px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.01em;

      @include mq(tablet) {
        font-size: 16px;
      }
    }

    &__span {
      display: block;
    }
  }
  &__map-item {
    width: res(384px);
    height: 220px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    @include mq(tablet) {
      width: 535px;
      height: 412px;
    }
    @include mq(desktop) {
      width: 634px;
    }
  }
}
.container-padding__contacts {
  padding: 35px 0;

  @include mq(tablet-only){
    padding-top: 56px;
    padding-bottom: 40px;
  }

  @include mq(desktop){
    padding-bottom: 73px;
  }
}