.details-hotel {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--background-gradient),
    url(../images/mobile/homepage-hotel-amet-mobile.jpg);

  @include mq(retina) {
    background-image: var(--background-gradient),
      url(../images/mobile/homepage-hotel-amet-mobile@2x.jpg);
  }

  @include mq(tablet) {
    background-image: var(--background-gradient),
      url(../images/tablet/homepage-hotel-amet-tablet.jpg);

    @include mq(retina) {
      background-image: var(--background-gradient),
        url(../images/tablet/homepage-hotel-amet-tablet@2x.jpg);
    }
  }
  @include mq(desktop) {
    background-image: var(--background-gradient),
      url(../images/desktop/homepage-hotel-amet-desktop.jpg);
    @include mq(retina) {
      background-image: var(--background-gradient),
        url(../images/desktop/homepage-hotel-amet-desktop@2x.jpg);
    }
  }
}

.details-hotel__thumb {
  display: grid;
  justify-items: end;
  justify-content: start;
  margin-left: 24px;

  @include mq(tablet) {
    margin-left: 148px;
  }
}

.logo-hotel {
  margin-bottom: 12px;

  color: var(--wight-text-color);
  font-family: font(_film_);
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  text-decoration: none;

  @include mq(tablet) {
    margin-bottom: 16px;
    font-size: 64px;
    line-height: calc(69 / 64);
  }
}

.details-hotel__title {
  margin-bottom: 20px;

  color: var(--wight-text-color);
  font-family: font(_montserrat);
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;

  @include mq(tablet) {
    margin-bottom: 8px;

    font-size: 24px;
    line-height: calc(29 / 24);
  }
}

.details-hotel__text {
  width: 243px;
  margin-bottom: 48px;

  color: var(--second-grey-color);
  font-family: font(_montserrat);
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;

  @include mq(tablet) {
    width: 549px;
    margin-bottom: 40px;

    font-size: 16px;
    line-height: calc(20 / 16);
  }
}

.service {
  @media screen and (min-width: 414px) {
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1024px) {
    margin-left: 47px;
    display: flex;
    margin-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 45px;
    display: flex;
    margin-top: 40px;
  }
}

.service__images--centered {
  @media screen and (min-width: 1024px) {
    margin-right: 34px;
    margin-left: 34px;
    // height: 270px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 86px;
    margin-left: 86px;
  }
}

.box-button {
  display: flex;
  flex-direction: column;
}

.box-button--position {
  @media screen and (min-width: 320px) {
    font-size: 15px;
    height: 48px;
    padding: 14px 26px;
    margin-right: auto;
    margin-left: auto;
    width: 236px;
  }

  @media screen and (min-width: 414px) {
    font-size: 15px;
    width: 236px;
    height: 48px;
    padding: 14px 26px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 15px;
    width: 236px;
    height: 48px;
    padding: 14px 26px;

    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.service__images--tablet {
  @media screen and (min-width: 1024px) {
    width: 162px;
    height: 270px;
  }

  @media screen and (min-width: 1280px) {
    width: 270px;
    height: 270px;
  }
}

.details-hotel__button--margin {
  margin-top: 16px;
}

.service__images--opacity {
  @media screen and (min-width: 414px) and (max-width: 1023px) {
    // opacity: 0;
    display: none;
  }
}
