.details {
  margin-inline: auto;
  max-width: $container-width-mobile;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../images/mobile/homepage-book-a-table-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include mq(retina) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/mobile/homepage-book-a-table-mobile@2x.jpg);
  }

  @media screen and (min-width: $container-width-mobile) {
    max-width: $container-width-tablet;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/tablet/homepage-book-a-table-tablet.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/tablet/homepage-book-a-table-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: $container-width-tablet) {
    max-width: res($container-width-desktop);
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/desktop/homepage-book-a-table-desktop.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/desktop/homepage-book-a-table-desktop@2x.jpg);
    }
  }
}
.details__title {
  margin-bottom: 12px;
  @include mq(tablet) {
    margin-bottom: 16px;
  }
}
.logo-details {
  font-family: font(_film_);
  font-weight: 700;
  font-size: 40px;
  text-decoration: none;
  color: var(--wight-text-color);

  line-height: calc(43 / 40);
  letter-spacing: 0.3em;

  text-transform: uppercase;
  @include mq(tablet) {
    font-size: 64px;
    line-height: calc(69 / 64);
  }

  @include mq(desktop) {
    font-size: 64px;
    line-height: 69px;
  }
}
.details__subtitle {
  font-weight: 700;

  letter-spacing: 0.02em;
  color: var(--wight-text-color);
  margin-bottom: 20px;
  font-size: 20px;
  line-height: calc(24 / 20);

  @include mq(tablet) {
    font-size: 24px;
    line-height: calc(29 / 24);
    margin-bottom: 8px;
  }
}
.details__text {
  font-weight: 600;

  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--second-grey-color);
  max-width: 250px;
  @include mq(tablet) {
    max-width: 610px;
  }
}
.details__thumb {
  padding-bottom: 40px;
  @include mq(tablet) {
    display: flex;
    padding-bottom: 96px;
    flex-direction: row-reverse;
    margin-left: 47px;
  }

  @include mq(desktop) {
    padding-bottom: 94px;
    margin-left: 85px;
  }
}
.details__pictures {
  @extend %list;
  display: flex;
  gap: 20px;
  margin-left: 33px;

  position: relative;
  height: 270px;
  @media screen and (min-width: 1024px) {
    height: 270px;
  }
}
.details__pictures-thumb {
  position: relative;
  height: 270px;

  @media screen and (min-width: 1024px) {
    height: 270px;
  }
}
.details__item {
  height: 270px;
  @media screen and (max-width: 1023px) {
    position: absolute;
    top: -20px;
    right: 90px;
    height: 270px;
  }

  @include mq(desktop) {
    height: 270px;
  }
}

.details__pic {
  max-width: 100%;
  display: block;
}

.details__btn__thumb .button {
  @media screen and (min-width: 320px) {
    font-size: 15px;
    height: 48px;
    padding: 14px 26px;
    margin-right: auto;
    margin-left: auto;
    width: 236px;
  }

  @media screen and (min-width: 414px) {
    font-size: 15px;
    width: 236px;
    height: 48px;
    padding: 14px 26px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 15px;
    width: 236px;
    height: 48px;
    padding: 14px 26px;

    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.details__btn__thumb {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;

  @media screen and (min-width:320px) and (max-width:1023px) {
    margin-bottom: 40px;
  }

  @include mq(tablet) {
    margin-left: 528px;
      position: relative;
      bottom: 40px;
    }
  
  @include mq(desktop) {
    margin-right: 23px;
  }
}

.details__main {
  padding-top: 24px;
  padding-bottom: 49px;
  padding-left: 140px;

  @include mq(tablet) {
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 278;
  }

  @include mq(desktop) {
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 338;
  }
}
