.logo-hotel {
  font-family: 'FilmP3';
  font-style: normal;
  font-weight: 700;
  line-height: 69px;
  letter-spacing: 0.3em;
  text-decoration: none;
  color: var(--wight-text-color);
  font-size: res(40px);
  margin-left: 150px;

  @media screen and (min-width: 1024px) {
    margin-left: 545px;
    font-size: 64px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 740px;
    font-size: 64px;
  }
}

.details-hotel {
  margin-inline: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/mobile/homepage-hotel-amet-mobile.jpg);

  max-width: res(430px);
  height: 735px;

  @include mq(retina) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/mobile/homepage-hotel-amet-mobile@2x.jpg);
  }

  @media screen and (min-width: $container-width-mobile) {
    max-width: $container-width-tablet;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/tablet/homepage-hotel-amet-tablet.jpg);

    @include mq(retina) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../images/tablet/homepage-hotel-amet-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: $container-width-tablet) {
    max-width: $container-width-desktop;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/desktop/homepage-hotel-amet-desktop.jpg);

    height: 620px;
    padding: 0;

    @include mq(retina) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../images/desktop/homepage-hotel-amet-desktop@2x.jpg);
    }
  }
}

.box__logo {
  @media screen and (min-width: 320px) {
    padding-top: 24px;
  }

  @media screen and (min-width: 414px) {
    padding-top: 24px;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 30px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 48px;
  }
}

.service__list {
  // width: 274px;
  @extend %list;
  display: flex;
  margin-right: 33px;

  @media screen and (min-width: 320px) and (max-width: 1023px) {
    margin-top: 30px;
    position: relative;
    top: 20px;
    left: -250px;
    width: 500px;
  }

  @media screen and (min-width: 414px) and (max-width: 1023px) {
    position: relative;
    top: 0px;
    left: -130px;
    width: 440px;
    height: 270px;
  }

  @media screen and (min-width: 1024px) {
    height: 270px;
  }
}

.service__item {
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    margin-left: 20px;
  }

  @media screen and (min-width: 414px) and (max-width: 1023px) {
    // position: absolute;
    // top: -20px;
    // left: 90px;
    gap: 15px;
    margin-left: 20px;
    height: 270px;
  }

  @media screen and (min-width: 1024px) {
    height: 270px;
  }
}

.details-hotel__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  margin-left: 745px;
  margin-top: 16px;

  color: var(--wight-text-color);

  @media screen and (min-width: 320px) {
    font-size: 16px;
    margin-left: 165px;
  }

  @media screen and (min-width: 414px) {
    font-size: 20px;
    margin-left: 205px;
    margin-top: 12px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 24px;
    margin-left: 655px;
    margin-top: 16px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    margin-left: 850px;
    margin-top: 16px;
  }
}

.details-hotel__text {
  width: 585px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  margin-left: 285px;
  margin-top: 8px;

  color: var(--second-grey-color);

  @media screen and (min-width: 320px) {
    width: 243px;
    font-size: 12px;
    margin-left: 12px;
    margin-top: 20px;
  }

  @media screen and (min-width: 414px) {
    width: 243px;
    font-size: 12px;
    margin-left: 32px;
    margin-top: 20px;
  }

  @media screen and (min-width: 1024px) {
    width: 549px;
    font-size: 16px;
    margin-left: 195px;
    margin-top: 8px;
  }

  @media screen and (min-width: 1280px) {
    width: 549px;
    font-size: 16px;
    margin-left: 390px;
    margin-top: 8px;
  }
}

.service {
  @media screen and (min-width: 414px) {
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1024px) {
    margin-left: 47px;
    display: flex;
    margin-top: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 45px;
    display: flex;
    margin-top: 40px;
  }
}

.service__images--centered {
  @media screen and (min-width: 1024px) {
    margin-right: 34px;
    margin-left: 34px;
    // height: 270px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 86px;
    margin-left: 86px;
  }
}

.box-button {
  display: flex;
  flex-direction: column;
      margin-bottom: 40px;
  @media screen and (min-width: 414px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1024px) {
    // margin-left: 5px;
    margin-top: -55px;
    // margin-left: auto;
      
      width: 480px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: -64px;
  }
}

.box-button--position {
  @media screen and (min-width: 320px) {
    font-size: 15px;
    height: 48px;
    padding: 14px 26px;
    margin-right: auto;
    margin-left: auto;
    width: 236px;
  }

  @media screen and (min-width: 414px) {
    font-size: 15px;
    width: 236px;
    height: 48px;
    padding: 14px 26px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 15px;
    width: 236px;
    height: 48px;
    padding: 14px 26px;

    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.service__images--tablet {
  @media screen and (min-width: 1024px) {
    width: 162px;
    height: 270px;
  }

  @media screen and (min-width: 1280px) {
    width: 270px;
    height: 270px;
  }
}

.details-hotel__button--margin {
  margin-top: 16px;
}

.service__images--opacity {
  @media screen and (min-width: 414px) and (max-width: 1023px) {
    // opacity: 0;
    display: none;
  }
}

.container-detail-hotel{
  overflow: hidden;
}