.hero {
  margin-inline: auto;
  max-width: $container-width-mobile;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../images/mobile/homepage-hero-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include mq(retina) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/mobile/homepage-hero-mobile@2x.jpg);
  }

  @media screen and (min-width: $container-width-mobile) {
    max-width: $container-width-tablet;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/tablet/homepage-hero-tablet.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/tablet/homepage-hero-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: $container-width-tablet) {
    max-width: $container-width-desktop;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../images/desktop/homepage-hero-desktop.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../images/desktop/homepage-hero-desktop@2x.jpg);
    }
  }

  &__container {
    padding-bottom: 20px;
    padding-top: 181px;
    position: relative;
    color: var(--wight-text-color);

    @include mq(tablet) {
      padding-left: 47px;
      padding-right: 47px;
      padding-bottom: 15px;
      padding-top: 188px;
    }

    @include mq(desktop) {
      padding-bottom: 64px;
      padding-top: 164px;
      padding-left: 85px;
      padding-right: 85px;
    }
  }

  &__title {
    text-align: center;
    font-family: font(_film_);
    font-style: normal;
    font-weight: 700;
    font-size: res(96px);
    line-height: 1.07;
    letter-spacing: 0.3em;
    margin-bottom: 24px;

    @include mq(mobile-only) {
      padding-left: res(26px);
    }

    @include mq(tablet) {
      font-size: 128px;
      line-height: 1.07;
      margin-bottom: 16px;
    }

    @include mq(desktop) {
      padding-left: 37px;
      margin-bottom: 32px;
    }
  }

  &__subtitle {
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    margin-bottom: 40px;

    @include mq(tablet) {
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 56px;
    }

    @include mq(desktop) {
      margin-bottom: 64px;
    }
  }

  &__text {
    text-align: center;
    font-family: font(_times_);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    margin-bottom: 113px;

    @include mq(tablet) {
      font-size: 36px;
      line-height: 1.14;
      margin-bottom: 145px;
    }

    @include mq(desktop) {
      margin-bottom: 144px;
    }
  }

  &__list {
    @extend %list;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 58px;
    gap: 20px;
    list-style: none;

    @include mq(tablet) {
      flex-direction: row;
      justify-content: flex-end;
      gap: 40px;
      margin-bottom: 25px;
    }

    @include mq(desktop) {
      gap: 60px;
      margin-bottom: 0;
    }
  }

  &__button {
    cursor: pointer;
    padding: 14px 0 14px 0;
  }

  &__button--first {
    min-width: 236px;
  }

  &__button--second {
    min-width: 232px;
  }

  &__address {
    position: absolute;
    top: 60px;
    right: 15px;

    @include mq(tablet) {
      top: auto;
      bottom: 64px;
      right: auto;
    }
  }

  &__social {
    @extend %list;
    display: flex;
    gap: 20px;

    @include mq(desktop) {
      position: absolute;
      top: 28px;
      right: 85px;
    }
  }
}
