$mobile-slider-width: 515px;
$tablet-slider-width: 428px;
$desktop-slider-width: 548px;

.slider-thumb-restaurant {
  width: 330px;
}

.about-section-slider {
  width: $mobile-slider-width;
  height: 297px;

  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  overflow-x: hidden;
  z-index: 1;

  list-style: none;

@media screen and (min-width:414px) and (max-width:1023px){
  transform: translateX(69px)
}

  // @include mq(mobile) {
  //   transform: translateX(69px);
  // }

  

  @include mq (tablet) {
    margin-top: -84px;
    margin-left: 500px;
    width: $tablet-slider-width;
    height: 258px;
  }

  @include mq (desktop) {
    margin-left: 560px;
    margin-top: -220px;
    width: $desktop-slider-width;
    height: 322px;
  }
}

.about-section-slider--left {
  @include mq(mobile-only) {
    transform: translateX(-198px);
  }

  @include mq(tablet) {
    transform: translateX(-468px);
  }

  @include mq(desktop) {
    transform: translateX(-564px);
  }
}

.about-section-slider__slide {
  display: flex;
  justify-content: center;
  align-items: start;
}

// .about-section-slider__button {
//   bottom: 0;
// }
.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

.about-section-slider__button-prev {
  width: 32px;
  top: 99%;
  left: 218px;
margin-top: -38px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.0832 14.9999H5.00568L11.0054 9.00025L9.59118 7.58606L1.17725 16L9.59118 24.4139L11.0054 22.9997L5.00556 16.9999H31.0832V14.9999Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;

  @include mq(tablet) {
    left: $tablet-slider-width - (32px * 3);
    margin-top: -45px;
  }

  @include mq(desktop) {
    left: $desktop-slider-width - (32px * 3);
    margin-top: -50px;
  }
}

.about-section-slider__button-next {
  width: 32px;
  top: 99%;
  right: 201px;
margin-top: -38px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.4921 7.58606L21.0779 9.00025L27.0777 15.0001H1V17.0001H27.0775L21.0779 22.9997L22.4921 24.4139L30.9061 16L22.4921 7.58606Z' fill='black'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;

  @include mq(tablet) {
    // top: 226px;
    right: 0;
    margin-top: -45px;
  }

    @include mq(desktop) {

      margin-top: -50px;
    }

}

.about-section-slider__button-prev--left {
  left: 195px;

  @include mq(tablet) {
    left: 0;
  }
}

.about-section-slider__button-next--left {
  right: 217px;
  

  @include mq(tablet) {
    right: $tablet-slider-width - (32px * 3);
  }

  @include mq(desktop) {
    right: $desktop-slider-width - (32px * 3);
  }
}

.swiper-double-lux {
  @include mq(tablet-only) {
    margin-left: 458px;

  }

  @include mq (desktop) {
    margin-top: -200px;
  }
}