.social {
  z-index: 1000;
  position: relative;
  @extend %list;
  &__link {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--second-yellow-color);
    fill: currentColor;

    &:hover,
    &:focus {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--yellow-text-color);
      fill: var(--black-text-color);
    }
  }
}
