.vertical-line {
  $color: var(--ligth-v-line-color);
  height: 100%;

  @mixin color-line($position) {
    $color-bg: transparent;
    $background: ();

    @each $i in $position {
      $background: append(
        $background,
        (
          $color-bg calc(#{$i} - 1px),
          $color #{$i},
          $color-bg calc(#{$i} + 1px)
        ),
        $separator: comma
      );
    }
    background: linear-gradient(90deg, $background);
  }

  background: rgba(255, 255, 255, 0);

  &--ligth {
    @include color-line(res(140px) res(274px));

    @media screen and (min-width: $container-width-tablet) {
      @include color-line(res(278px) res(511px) res(746px));
    }

    @media screen and (min-width: $container-width-desktop) {
      @include color-line(res(338px) res(640px) res(942px));
    }
  }

  &--dark {
    @extend .vertical-line--ligth;
    $color: var(--dark-v-line-color);
  }

  &--footer {
    $color: var(--dark-v-line-color);

    @include color-line(res(264px));

    @media screen and (min-width: $container-width-tablet) {
      @include color-line(res(511px) res(750px));
    }

    @media screen and (min-width: $container-width-desktop) {
      @include color-line(res(640px) res(942px));
    }
  }
}

/*
<div class="vertical-line vertical-line--ligth">
</div>

<div class="vertical-line vertical-line--dark">
</div>

<div class="vertical-line vertical-line--footer">
</div>

*/
