.slider{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    overflow:hidden;
    z-index: 2;
  }
  .prev{
    position:absolute;
    top:45%;
    left:2.5%;
    cursor:pointer;
    z-index: 4;
  }
  .next{
    position:absolute;
    top:45%;
    right:2.5%;
    cursor:pointer;
    z-index: 4;
  }
  .transition {
    transition:.5s linear;
  }
  .slide{
    width:100%;
    height:100%;
    position:absolute;
    top:0%;
    left:0%;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .slide p {
    font-size:4em;
    color:#fff;
    font-weight:900;
  }

    /*mixins*/
    @mixin backgr-image-and-grad ($url-i) {
      background-image: linear-gradient(to top left,
          var(--gradient-start-hero),
          var(--gradient-end-hero)),
        url($url-i);
    }
  
    /*@include backgr-image-and-grad ('../images/banner-studio-img-1.jpg');*/
    @mixin multy-img2x ($url-i2) {
  
      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        @include backgr-image-and-grad ($url-i2);
      }
    }

  .slide_1{
    background:red;
  }
  .slide_2{
    background:blue;
  }
  .slide_3{
    background:pink;
  }
  .slide_4{
    background:green;
  }
  .slide_5{
    //background:yellow;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: bottom;//center;
    background-size: cover;
    background-attachment: scroll;
    //background-image: url(../images/mobile/room-hero-mobile.jpg);
    //@include backgr-image-and-grad ('../src/images/mobile/room-hero-mobile.jpg');
    //@include multy-img2x ('../src/images/mobile/room-hero-mobile@2x.jpg');
    /*background-color: gray;
      background-image: url(../images/mobile/room-hero-mobile.jpg);
      background-repeat: no-repeat;
      margin-inline: auto;*/
      background-image: url(../images/mobile/room-hero-mobile.jpg);
      @include mq(mobile) {
        width: res($container-width-mobile);
        background-image: url(../images/mobile/room-hero-mobile.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
            background-image: url(../images/mobile/room-hero-mobile-alt@2x.jpg);
          }
      }
    
      @include mq(tablet) {
        width: res($container-width-tablet);
        background-image: url(../images/tablet/room-hero-tablet.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
            background-image: url(../images/tablet/room-hero-tablet@2x.jpg);
          }
      }
    
      @include mq(desktop) {
        width: res($container-width-desktop);
        background-image: url(../images/desktop/room-hero-desktop.jpg);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
            background-image: url(../images/desktop/room-hero-desktop@2x.jpg);
          }
      }
  }

  .direc
  {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.65);
    color: inherit;
  }
  .direc--mirror
  {
    transform: rotate(180deg);
  }