.slider{
    width:80%;
    height:80%;
    position:absolute;
    left:10%;
    top:10%;
    overflow:hidden;
  }
  .prev{
    position:absolute;
    top:45%;
    left:2.5%;
    cursor:pointer;
  }
  .next{
    position:absolute;
    top:45%;
    right:2.5%;
    cursor:pointer;
  }
  .transition {
    transition:.5s linear;
  }
  .slide{
    width:100%;
    height:100%;
    position:absolute;
    top:0%;
    left:0%;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .slide p {
    font-size:4em;
    color:#fff;
    font-weight:900;
  }
  .slide_1{
    background:red;
  }
  .slide_2{
    background:blue;
  }
  .slide_3{
    background:pink;
  }
  .slide_4{
    background:green;
  }
  .slide_5{
    background:yellow;
  }