.section-hero {
  width: 100vw;
  background-color: gray;
}
.hero-room {
  position: relative;
  width: auto;
  margin: 0 auto;
  background: linear-gradient(#000 0%, #0000008c 54.17%, #0000 100%);
  @include mq(mobile) {
    width: $container-width-mobile;
  }

  @include mq(tablet) {
    width: $container-width-tablet;
  }

  @include mq(desktop) {
    width: $container-width-desktop;
  }

  .hero-room__gardient {
    position: absolute;
    width: 100%;
    height: 143px;
    z-index: 100;
    background: linear-gradient(
      180deg,
      #000000 0%,
      rgba(0, 0, 0, 0.55) 54.17%,
      rgba(0, 0, 0, 0) 100%
    );

    @include mq(tablet) {
      height: 116px;
    }
    @include mq(desktop) {
      height: 147px;
    }
  }

  &__title {
    width: 100%;
    margin-bottom: 14px;

    color: var(--wight-text-color);
    font-family: font(_times_);
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    line-height: calc(32 / 28);
    letter-spacing: 0.05em;
    position: absolute;
    left: 15px;
    bottom: 193px;

    @media screen and (max-width: 1023px) {
      text-align: left;
    }
    @include mq(tablet) {
      font-size: 36px;
      line-height: calc(41 / 36);
    }
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      left: 47px;
      bottom: 211px;
    }
    @include mq(desktop) {
      left: 85px;
      bottom: 155px;
    }
  }

  &__title-little {
    text-transform: lowercase;
  }

  &__text {
    width: res(325px);
    margin-bottom: 14px;
    position: absolute;
    bottom: 118px;
    left: 15px;

    color: var(--wight-text-color);
    font-weight: 700;
    font-size: res(12px);
    line-height: calc(15 / 12);
    letter-spacing: 0.02em;

    @include mq(tablet) {
      margin-bottom: 30px;
      width: 400px;
      font-size: 16px;
      line-height: calc(20 / 16);
    }
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      bottom: 104px;
      left: 47px;
    }

    @include mq(desktop) {
      margin-bottom: 0;
      bottom: 48px;
      left: 85px;
    }
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
  }

  &__address {
    @include mq(mobile-only) {
      position: absolute;
      top: 60px;
      right: 15px;
      z-index: 100;
    }

    @include mq(desktop) {
      display: none;
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    width: 24px;
    gap: 8px;

    @include mq(tablet) {
      gap: 20px;
      flex-direction: row;
    }

    @include mq(desktop) {
      position: absolute;
      top: 28px;
      left: 1083px;
    }
  }

  &__button {
    width: res(232px);
    cursor: pointer;
    padding-block: 14px;
    position: absolute;
    bottom: 40px;
    right: 50%;
    transform: translateX(50%) scale(1);

    @include mq(tablet) {
      bottom: 64px;
      right: 47px;
      transform: translateX(0%) scale(1);
    }

    @include mq(desktop) {
      bottom: 66px;
      right: 85px;
    }
  }
}
