.hero-room__background
{
    background-color: var(--main-bg-color);
}
.hero-room__title
{
    font-family: 'Times New Roman', Times, serif;
    color: var(--wight-text-color);
}
.hero-room__description
{
    font-family: 'Times New Roman', Times, serif;
    color: var(--wight-text-color);
}

