:root {
  --wight-text-color: #fff;
  --black-text-color: #000;
  --yellow-text-color: #f3c653;
  --brown-text-color: #c79002;
  --grey-text-color: #5f5f5f;
  --second-grey-color: #bababa;
  --second-yellow-color: rgba(243, 198, 83, 0.7);
  --hero-address-color: #e5e5e5;
  --contacts-color: #828282;
  --mimino-first-color: #828282;
  --mimino-second-color: #494848;
  --main-bg-color: #fffdee;
  --secondary-bg-color: #f0ecd6;
  --section-title-color: #b4b4b4;
  --hotel-text-color: #7a7a7a;
  --modal-text-color: #808080;
  --footer-bg-color: #0e0c07;
  --main-box-shadow-color: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);

  --button-bg-color--black: #000000;
  --button-bg-color--gray: rgba(0, 0, 0, 0.4);
  --button-border-accent-color: #f3c653;
  --button-accent-color: #f3c653;
  --cubic-primary: cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-color: rgba(0, 0, 0, 0.2);

  --ligth-v-line-color: rgba(186, 186, 186, 0.4);
  --dark-v-line-color: rgba(122, 122, 122, 0.4);

  --scrollbar-width: 15;
  --window-client-width: 414;
  --coef: 1;
}
// Media Breakpoints
$container-width-mobile: 414px;
$container-width-tablet: 1024px;
$container-width-desktop: 1280px;
