<header class="header">
  <div class="container">
    <ul class="header-nav">
      <a class="logo logo--header" href="./index.html">mimiho</a>
      <li class="header-nav__item">
        <a href="./page-restaurant.html" class="header-nav__link">Ресторан</a>
        <a
          href="tel:+380955559533"
          class="header-nav__phone header-nav__phone--restaraunt"
        >
          <svg class="header-nav__svg">
            <use href="./images/symbol-defs.svg#icon-phone"></use>
          </svg>
          <span class="header-nav__number">095 555 95 33</span>
        </a>
      </li>
      <li class="header-nav__item">
        <a href="./page-hotel.html" class="header-nav__link">Готель</a>
        <ul class="header-nav__numbers">
          <li>
            <a href="tel:+3800668491089" class="header-nav__phone">
              <svg class="header-nav__svg">
                <use href="./images/symbol-defs.svg#icon-phone"></use>
              </svg>
              <span class="header-nav__number"> 066 849 10 89</span>
            </a>
          </li>
          <li>
            <a href="tel:+380672758540" class="header-nav__phone">
              <span class="header-nav__number">067 275 85 40</span></a
            >
          </li>
        </ul>
      </li>
    </ul>
    <address class="address">
      <a
        class="address__link"
        href="https://goo.gl/maps/Z9ZDGPFKSgUdqrtR8"
        target="_blank"
      >
        <svg class="address__icon" width="24" height="24">
          <use href="/src/images/symbol-defs.svg#icon-location"></use>
        </svg>
        <p class="address__text">
          Україна, м. Полтава,
          <span class="address__span">вул. Маршала Бірюзова, 15</span>
        </p>
      </a>
      <ul class="hero__social social">
        <li class="social__item">
          <a class="social__link" href="#">
            <svg class="social__icon" width="24" height="24">
              <use href="/src/images/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">
            <svg class="social__icon" width="24" height="24">
              <use href="/src/images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">
            <svg class="social__icon" width="24" height="24">
              <use href="/src/images/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
  </div>
</header>
