<header class="header">
  <!-- <div class="header__container"> -->
  <nav class="header-nav">
    <a class="logo--header" href="./index.html">mimiho</a>
    <ul class="header-nav__list">
      <li class="header-nav__item">
        <a href="./page-restaurant.html" class="header-nav__link">Ресторан</a>
        <a href="tel:+380955559533" class="header-nav__phone header-nav__phone--restaraunt">
          <svg class="header-nav__svg">
            <use href="./images/symbol-defs.svg#icon-phone"></use>
          </svg>
          <span class="header-nav__number">095 555 95 33</span>
        </a>
      </li>
      <li class="header-nav__item">
        <a href="./page-hotel.html" class="header-nav__link">Готель</a>
        <ul class="header-nav__numbers">
          <li>
            <a href="tel:+3800668491089" class="header-nav__phone">
              <svg class="header-nav__svg">
                <use href="./images/symbol-defs.svg#icon-phone"></use>
              </svg>
              <span class="header-nav__number"> 066 849 10 89</span>
            </a>
          </li>
          <li>
            <a href="tel:+380672758540" class="header-nav__phone">
              <span class="header-nav__number">067 275 85 40</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- </div> -->
</header>
