.modal {
  width: 100%;
  min-width: 380px;
  height: auto;
  padding: 60px 15px;
  border-radius: 2px;

  background-color: var(--main-bg-color);
  transform: translate(-50%, -50%) scale(1);

  transition: transform var(--transition-duration) var(--cubic-primary),
    opacity var(--transition-duration) var(--cubic-primary);

    @include mq(mobile-only) {
      max-width: $container-width-mobile;
    }

    @include mq(tablet) {
      width: 712px;
      padding: 60px;
    }
}

.modal__close-button {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 16px;
  right: 16px;

  border: none;
  color: var(--black-text-color);
  background-color: var(--main-bg-color);
  cursor: pointer;
}

.modal__close-icon {
  fill: currentColor;
}

.modal__title {
  margin-bottom: 40px;

  font-family: font(_times_);
  font-size: 24px;
  font-weight: 700;
  line-height: calc(28 / 24);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--black-text-color);

  @include mq(tablet) {
    font-size: 40px;
    line-height: calc(46 / 40);
  }
}
