<!-- Slider main container -->
<div class="hero-room-slider">
  <!-- Additional required wrapper -->
  <div class="hero-slider">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img class="hero-slider__img"
          src="./images/desktop/room-hero-desktop.jpg"
        />
        <!-- <img class="hero-slider__img"
        srcset="
          ./images/mobile/room-hero-mobile.jpg    414w,
          ./images/tablet/room-hero-tablet.jpg   1024w,
          ./images/desktop/room-hero-desktop.jpg 1280w
        "
        sizes="(min-width: 414px) 414px, ( min-width: 1024px) 1024px, (min-width: 1280px) 1280px, 100vw"
        src="./images/mobile/room-hero-mobile.jpg"
      /> -->
      </div>
      <!-- <div class="swiper-slide"><img src="./images/mobile/room-hero-mobile-alt.jpg"></div>
        <div class="swiper-slide"> <img src="./images/mobile/room-hero-mobile.jpg"> </div>
        <div class="swiper-slide"><img src="./images/mobile/room-hero-mobile-alt.jpg"></div> -->
    </div>
    <div class="hero-slider__button-prev swiper-button-prev"></div>
    <div class="hero-slider__button-next swiper-button-next"></div>
    <!-- /hero-slider -->
  </div>
  <!-- /hero-room-slider -->
</div>
