<section class="hero-room">
  <div class="container">
    <h2 class="hero-room__title">
      Двомісний номер <span class="hero-room__title-little">люкс</span>
    </h2>
    <p class="hero-room__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="social">
      <li class="social__item">
        <a class="social__link" href="#">
          <svg class="social__icon" width="24" height="24">
            <use href="/src/images/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#">
          <svg class="social__icon" width="24" height="24">
            <use href="/src/images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#">
          <svg class="social__icon" width="24" height="24">
            <use href="/src/images/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      type="button"
      class="room__btn button button__primary button__primary--transparent data-price-modal-open"
    >
      Переглянути ціни
    </button>
  </div>
</section>
