<section class="rooms-about">
  <div class="container container-hidden vertical-line vertical-line--ligth">
    <div class="container-padding container-padding--last">
      <div class="rooms-about__wrapper rooms-about__wrapper--two">
        <div class="rooms-about__text-wrapper">
          <p class="rooms-about__descr">Amet minim mollit non</p>
          <h2 class="rooms-about__title">MIMIHO</h2>
          <h3 class="rooms-about__subtitle">ДВОМІСНИЙ НОМЕР</h3>
          <p class="rooms-about__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <img
          srcset="
            ./images/mobile/room-content3-mobile@2x.jpg 488w,
            ./images/mobile/room-content3-mobile.jpg    244w,
            ./images/tablet/room-content3-t@2x.jpg      800w,
            ./images/tablet/room-content3-t.jpg         400w,
            ./images/desktop/room-content3-d@2x.jpg     508w,
            ./images/desktop/room-content3-d.jpg        254w
          "
          sizes="(min-width: 1280px) 254px, (min-width: 1024px) 400px, (min-width: 414px) 244px, 100vw"
          src="./images/desktop/room-content3-d.jpg"
          alt="кімната"
          class="rooms-about__img"
          loading="lazy"
        />
      </div>
      <!-- Slider -->
      <div class="rooms-about__slider">
        <include src="./partials/hotel-about-double-room-slider.html"></include>
      </div>
      <div class="rooms__container-btn">
        <button
          type="button"
          class="button button__primary button__primary--black rooms__btn rooms__btn--s"
          onclick="location.href='page-room.html'"
        >
          Детальніше
        </button>
        <button
          type="button"
          class="button button__primary button__primary--black rooms__btn data-price-modal-open"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
