<section class="rooms-about">
  <div class="container container-hidden vertical-line vertical-line--ligth">
    <div class="container-padding">
      <div class="rooms-about__wrapper">
        <div class="rooms-about__text-wrapper">
          <p class="rooms-about__descr">Amet minim mollit non</p>
          <h2 class="rooms-about__title">MIMIHO</h2>
          <h3 class="rooms-about__subtitle">
            ДВОМІСНИЙ НОМЕР <span>люкс</span>
          </h3>
          <p class="rooms-about__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <img
          srcset="
            ./images/mobile/room-content1-mobile.jpg    1x,
            ./images/mobile/room-content1-mobile@2x.jpg 2x
          "
          src="./images/mobile/room-content1-mobile.jpg"
          alt="кімната"
          class="rooms-about__img"
          loading="lazy"
        />
      </div>
      <!-- Слайдер з фото -->
      <div class="rooms-about__slider">
        <include
          src="./partials/hotel-about-double-lux-room-slider-combained.html"
        ></include>
      </div>
        <div class="rooms__container-btn">
          <button
            type="button"
            class="button button__primary button__primary--black rooms__btn rooms__btn--s"
            onclick="location.href='page-room.html'"
          >
            Детальніше
          </button>
          <button
            type="button"
            class="button button__primary button__primary--black rooms__btn data-price-modal-open"
          >
            Переглянути ціни
          </button>
        </div>
    </div>
  </div>
</section>
