<section class="about">
  <div class="container container-about vertical-line vertical-line--ligth">
    <div class="container__reset">
      <div class="about__thumb-hotel">
        <div class="about__text-hotel">
          <h2 class="visually-hidden">Про наш ресторан</h2>
          <h3 class="about__title">Lorem ipsum dolor sit</h3>
          <span class="name">mimiho</span>
          <p class="about__description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
            aut iusto beatae quas ab nulla minus officiis asperiores, soluta
            officia voluptatem eum nesciunt, non sequi.
          </p>
        </div>

        <img
          srcset="
            ./images/desktop/room-content1-desktop@2x.jpg 2x,
            ./images/desktop/room-content1-desktop.jpg    1x
          "
          src="./images/desktop/room-content1-desktop.jpg"
          alt="khgd"
          class="about__image-hotel"
          loading="lazy"
        />
      </div>

      <div class="about__thumb-second--reversed">
        <img
          srcset="
            ./images/desktop/homepage-content4-desktop@2x.jpg 2x,
            ./images/desktop/homepage-content4-desktop.jpg    1x
          "
          src="./images/desktop/homepage-content4-desktop.jpg"
          alt="khgd"
          class="about__image--second"
          loading="lazy"
        />

        <p class="about__feature">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni libero
          animi doloribus architecto voluptates magnam beatae, eveniet incidunt,
          reprehenderit necessitatibus repellat provident minima, itaque cumque
          maiores?
        </p>
      </div>
      <div class="slider-thumb-restaurant">
        <include
          src="./partials/homepage-about-hotel-slider-reversed.html"
        ></include>
      </div>
    </div>
  </div>
</section>
