<section>
  <div class="container">
    <div class="contacts__system">
      <div class="contacts__sys-item">
        <h2 class="contacts__logo">Міміно</h2>
        <p class="contacts__sub-logo">Ресторанно-готельний комплекс</p>
        <!--test-->
        <nav class="contacts-nav">
          <ul class="contacts-nav__list">
            <a class="logo--header" href="./index.html">mimiho</a>
            <li class="contacts-nav__item">
              <a href="./page-restaurant.html" class="contacts-nav__link"
                >Ресторан</a
              >
              <a
                href="tel:+380955559533"
                class="contacts-nav__phone contacts-nav__phone--restaraunt"
              >
                <svg class="contacts-nav__svg">
                  <use href="./images/symbol-defs.svg#icon-phone"></use>
                </svg>
                <span class="contacts-nav__number">095 555 95 33</span>
              </a>
            </li>
            <li class="contacts-nav__item">
              <a href="./page-hotel.html" class="contacts-nav__link">Готель</a>
              <ul class="contacts-nav__numbers">
                <li>
                  <a href="tel:+3800668491089" class="contacts-nav__phone">
                    <svg class="contacts-nav__svg">
                      <use href="./images/symbol-defs.svg#icon-phone"></use>
                    </svg>
                    <span class="contacts-nav__number"> 066 849 10 89</span>
                  </a>
                </li>
                <li>
                  <a href="tel:+380672758540" class="contacts-nav__phone">
                    <span class="contacts-nav__number">067 275 85 40</span></a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <!--ul class="contacts__list">
          <li class="contacts__item-restaurant contacts__thumb">
            <a href="#" class="header__nav-restaurant__head">Ресторан</a>
            <a href="tel:+380955559533" class="header__nav-restaurant__phone">
              <svg class="header__nav-svg">
                <use href="./images/symbol-defs.svg#icon-phone"></use>
              </svg>
              <span class="number">095 555 95 33</span>
            </a>
          </li>
          <li class="contacts__item-hotel contacts__thumb">
            <a href="#" class="header__nav-hotel__head">Готель</a>
            <ul class="header__nav-hotel__phone">
              <li>
                <a
                  href="tel:+3800668491089"
                  class="header__nav-hotel__phone--item"
                >
                  <svg class="header__nav-svg">
                    <use href="./images/symbol-defs.svg#icon-phone"></use>
                  </svg>
                  <span class="number"> 066 849 10 89</span>
                </a>
              </li>
              <li>
                <a
                  href="tel:+380672758540"
                  class="header__nav-hotel__phone--item"
                >
                  <span class="number">067 275 85 40</span></a
                >
              </li>
            </ul>
          </li>

          <li class="contacts__item-address visually-hidden">адреса</li>
        </ul-->
      </div>
      <div class="contacts__sys-item">
        <iframe
          class="contacts__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2229.012096142575!2d34.52396601158469!3d49.599193971323025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e1!3m2!1suk!2sua!4v1670084257978!5m2!1suk!2sua"
          width="384"
          height="220"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
