<section class="contacts">
  <div class="container contacts-container vertical-line vertical-line--ligth">
    <div class="container-padding__contacts">
      <div class="contacts__system">
        <div class="contacts__sys-item">
          <h2 class="contacts__logo">mimiho</h2>
          <p class="contacts__sub-logo">Ресторанно-готельний комплекс</p>
          <nav class="contacts-nav">
            <ul class="contacts-nav__list">
              <li class="contacts-nav__item">
                <a
                  href="./page-restaurant.html"
                  class="contacts-nav__link contacts-restaurant"
                  >Ресторан</a
                >
                <a href="tel:+380955559533" class="contacts-nav__number">
                  <svg class="contacts-nav__svg">
                    <use href="./images/symbol-defs.svg#icon-phone"></use>
                  </svg>
                  <span class="contacts__text">095 555 95 33</span>
                </a>
              </li>
              <li class="contacts-nav__item contacts-nav__address">
                <a
                  href="./page-hotel.html"
                  class="contacts-nav__link contacts-hotel"
                  >Готель</a
                >
                <ul class="contacts-nav__number--list">
                  <li>
                    <a
                      href="tel:+3800668491089"
                      class="contacts-nav__number--hotel"
                    >
                      <svg class="contacts-nav__svg">
                        <use href="./images/symbol-defs.svg#icon-phone"></use>
                      </svg>
                      <span class="contacts__text"> 066 849 10 89</span>
                    </a>
                  </li>
                  <li>
                    <a
                      href="tel:+380672758540"
                      class="contacts-nav__number--hotel"
                    >
                      <span class="contacts__text">067 275 85 40</span></a
                    >
                  </li>
                </ul>
              </li>
              <li class="contacts-nav__item contacts-nav__location">
                <address class="contacts-address">
                  <a
                    class="contacts-address__link"
                    href="https://goo.gl/maps/Z9ZDGPFKSgUdqrtR8"
                    target="_blank"
                    href=""
                  >
                    <svg class="contacts-address__icon" width="24" height="24">
                      <use
                        href="/src/images/symbol-defs.svg#icon-location"
                      ></use>
                    </svg>
                    <p class="contacts-address__text">
                      Україна, м. Полтава,
                      <span class="contacts-address__span"
                        >вул. Маршала Бірюзова, 15</span
                      >
                    </p>
                  </a>
                </address>
              </li>
            </ul>
          </nav>
        </div>
        <iframe
          class="contacts__map-item"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25338.275819157236!2d34.52629924211395!3d49.588413484440494!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d826021e9c03af%3A0x9d345b9ebd99b550!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e1!3m2!1suk!2sua!4v1670111496939!5m2!1suk!2sua"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
