<div class="details-hotel">
  <section class="section container">
    <div
      class="container container-detail-hotel vertical-line vertical-line--ligth"
    >
      <div class="box__logo">
        <a class="logo-hotel" lang="en" href="./index.html">MIMIHO</a>
      </div>
      <h3 class="details-hotel__title">Готель</h3>
      <p class="details-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
      <include src="./partials/homepage-details-hotel-slider.html"></include>

      <div class="box-button">
        <button
          type="button"
          class="hero-hotel__button button__primary button__primary--transparent data-room-modal-open box-button--position"
        >
          Забронювати номер
        </button>

        <button
          type="button"
          class="button button__primary button__primary--transparent rooms__btn data-price-modal-open details-hotel__button--margin box-button--position"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </section>
</div>
