<section class="details-hotel section ">
  <div class="container vertical-line vertical-line--dark">
    <div class="box__logo">
      <a class="logo-hotel" lang="en" href="./index.html">MIMIHO</a>
    </div>

    <h3 class="details-hotel__title">Готель</h3>

    <p class="details-hotel__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
      officia
      consequat duis enim velit mollit.</p>

    <div class="service">

      <ul class="service__list list">
        <li class="service__item">
          <div class="paragraph-title">
            <img class="service__images service__images--tablet"
              srcset="./images/desktop/img-content-details270-4-desk-tablet.jpg, ./images/desktop/img-content-details270-4-desk-tablet.jpg 2x"
              src="./images/desktop/img-content-details270-4-desk-tablet.jpg" alt="номер готелю" width="270" />
          </div>
        </li>
        <li class="service__item">
          <div class="paragraph-title">
            <img class="service__images service__images--centered"
              srcset="./images/desktop/img-content-details270-5-desk-tablet.jpg, ./images/desktop/img-content-details270-5-desk-tablet.jpg 2x"
              src="./images/desktop/img-content-details270-5-desk-tablet.jpg" alt="сніданок" width="162" />
          </div>
        </li>
        <li class="service__item">
          <div class="paragraph-title">
            <img class="service__images"
              srcset="./images/desktop/img-content-details270-6-desk-tablet.jpg, ./images/desktop/img-content-details270-6-desk-tablet.jpg 2x"
              src="./images/desktop/img-content-details270-6-desk-tablet.jpg" alt="рецепція готелю" width="270" />
          </div>
        </li>
      </ul>

      <div class="box-button">
        <button type="button" class="button button__primary button__primary-transparent">
          Забронювати номер
        </button>

        <button type="button" class="button button__primary button__primary-transparent details-hotel__button--margin">
          Переглянути ціни
        </button>
      </div>

    </div>
  </div>



  <!-- <svg class="details-hotel__icon details-hotel__icon--centered" width="32px" height="32px" >
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
          </svg>

          <svg class="details-hotel__icon details-hotel__icon--margin" width="32px" height="32px" >
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
          </svg> -->



</section>