<section class="details">
  <div class="container vertical-line vertical-line--dark">
    <div class="details__main">
      <div class="details__title">
        <a class="logo-details" lang="en" href="./index.html">MIMIHO</a>
      </div>
      <h3 class="details__subtitle">Ресторан</h3>
      <p class="details__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="details__thumb">
      <div class="details__pictures-thumb">
        <ul class="details__pictures">
          <li class="details__item">
            <img
              srcset="
                ./images/desktop/img-content-details270-1-desk-tablet.jpg,
                ./images/desktop/img-content-details270-1-desk-tablet@2x.jpg 2x
              "
              src="./images/desktop/img-content-details270-1-desk-tablet.jpg"
              alt="стейк"
              width="270"
              class="details__pic"
              loading="lazy"
            />
          </li>
          <li class="details__item">
            <img
              srcset="
                ./images/desktop/img-content-details270-2-desk-tablet.jpg,
                ./images/desktop/img-content-details270-2-desk-tablet@2x.jpg 2x
              "
              src="./images/desktop/img-content-details270-2-desk-tablet.jpg"
              alt="основна страва"
              width="162"
              class="details__pic"
              loading="lazy"
            />
          </li>
          <li class="details__item">
            <img
              srcset="
                ./images/desktop/img-content-details270-3-desk-tablet.jpg,
                ./images/desktop/img-content-details270-3-desk-tablet@2x.jpg 2x
              "
              src="./images/desktop/img-content-details270-3-desk-tablet.jpg"
              alt="страва від шеф-кухаря"
              width="270"
              class="details__pic"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
      <div class="details__btn__thumb">
        <button
          class="button button__primary button__primary--transparent data-table-modal-open"
        >
          Забронювати столик
        </button>
        <button
          class="button button__primary button__primary--transparent"
          onclick="location.href='page-restaurant.html#menu'"
        >
          Переглянути меню
        </button>
      </div>
    </div>
  </div>
</section>
