<section class="details">
    <div class="container">
        <div class="details__main">
    <h2 class="details__title">Mіміно</h2>
    <h3 class="details__subtitle">Ресторан</h3>
    <p class="details__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi et blanditiis nihil eos fugit modi odit, iste omnis harum laborum quas sunt quos mollitia repellendus voluptas eveniet sint excepturi animi.</p>
    </div>
    <div class="details__thumb">
        <ul class="details__buttons">
            <li>
        <button class="button__primary">Забронювати столик</button>
            </li>
            <li>
        <button class="button__primary">Переглянути меню</button>
            </li>
        </ul>
        <!-- тут має бути слайдер
        <ul class="details__pictures">
        <li>
        <img
        src="./images/desktop/img-slider-1.jpg"
        alt="стейк"
        width="270"
        class="details__pic"
        />
        </li>
        <li>
        <img
        src="./images/desktop/img-slider-1.jpg"
        alt="стейк"
        width="162"
        class="details__pic"
        />

        </li>
        <li>
        <img
        src="./images/desktop/img-slider-1.jpg"
        alt="стейк"
        width="270"
        class="details__pic"
        />

        </li>

            
        </ul> -->
    </div>
    </div>
</section>