<section class="details">
  <div class="container container-about vertical-line vertical-line--dark">
    <div class="details__main">
      <div class="details__title">
        <a class="logo-details" lang="en" href="./index.html">MIMIHO</a>
      </div>
      <h3 class="details__subtitle">Ресторан</h3>
      <p class="details__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>


        <include src="./partials/homepage-details-restaurant-slider.html"></include>

        <div class="details__btn__thumb">
          <button
            class="button button__primary button__primary--transparent data-table-modal-open"
          >
            Забронювати столик
          </button>
          <button
            class="button button__primary button__primary--transparent"
            onclick="location.href='page-restaurant.html#menu'"
          >
            Переглянути меню
          </button>

    </div>
    </div>
  </div>
</section>
