<!--
 Андрій Трюхан @tryuhan
 Цей partial форми модалки бронювання номера. Використовує для оформлення компонент форми (forms.scss).
-->


  <form class="form" name="application-form">
    <div class="form__wrapper">
      <div class="form__field-wrapper">
        <input
          class="form__input"
          type="text"
          name="person-name"
          id="person-name"
          placeholder="Ваше ім'я"
          minlength="2"
          maxlength="64"
        />
        <label class="form__label" for="person-name"
          >На кого забронювати столик?</label
        >
      </div>

      <div class="form__field-wrapper">
        <input class="form__input" type="tel" name="phone" id="phone" placeholder="+38 (___) ___-__-__" pattern="^\+[0-9]{2}\s\((\d+)\)\s\d{3}-\d{2}-\d{2}" title="Введіть телефон у форматі +38 (___) ___-__-__"/>
        <label class="form__label" for="phone">Номер телефону</label>
      </div>

      <div class="form__field-wrapper form__field-wrapper--empty">
      </div>

      <div class="form__field-wrapper">
        <div class="form__select-wrapper">
          <select class="form__select" name="number-select" id="number-select">
            <option value="Двомісний номер">Двомісний номер</option>
            <option value="Двомісний люкс" selected>Двомісний люкс</option>
            <option value="Трьохмісний номер">Трьохмісний номер</option>
        </div>
        <label class="form__label" for="number-select"
          >Категорія номеру</label
        >
      </div>

      <div class="form__field-wrapper">
        <div class="form__select-wrapper">
          <!-- <select class="form__select" name="date-select" id="date-income-select">
            <option value="Сьогодні" selected>Сьогодні</option>
            <option value="Завтра">Завтра</option>
          </select> -->
          <!-- <input class="form__input-date" type="date" name="date" id="date-income-select" /> -->
          <input id="date-income-select" class="form__input" type="text" placeholder="Сьогодні"
          onfocus="(this.type='date')"
          onblur="(this.type='text')">
        </div>
        <label class="form__label" for="date-income-select"
          >Дата заїзду</label
        >
      </div>

      <div class="form__field-wrapper">
        <div class="form__select-wrapper">
          <!-- <select class="form__select" name="city" id="date-outcome-select">
            <option value="Сьогодні" selected>Сьогодні</option>
            <option value="Завтра">Завтра</option>
          </select> -->
          <!-- <input class="form__input-date" type="date" name="date" id="date-outcome-select" /> -->
          <input id="date-outcome-select" class="form__input" type="text" placeholder="Сьогодні"
          onfocus="(this.type='date')"
          onblur="(this.type='text')">
        </div>
        <label class="form__label" for="date-outcome-select"
          >Дата виїзду</label
        >
      </div>
    </div>

    <button class="button button__modal form__submit" type="submit">
      Оформити бронювання
    </button>
  </form>

