<section class="hero">
  <div class="hero__container container">
    <h1 class="hero__title">MIMIHO</h1>
    <h2 class="hero__subtitle">Ресторанно-готельний комплекс</h2>
    <p class="hero__text">СМАК ЖИТТЯ 24/7</p>
    <ul class="hero__list">
      <li class="hero__item">
        <button
          class="hero__button hero__button--first button__primary button__primary--transparent data-table-modal-open"
          type="button"
        >
          Забронювати столик
        </button>
      </li>
      <li class="hero__item">
        <button
          class="hero__button hero__button--second hero__button--first button__primary button__primary--transparent data-room-modal-open"
          type="button"
        >
          Забронювати номер
        </button>
      </li>
    </ul>
    <address class="hero__address address">
      <a
        class="address__link"
        href="https://goo.gl/maps/Z9ZDGPFKSgUdqrtR8"
        target="_blank"
        href=""
      >
        <svg class="address__icon" width="24" height="24">
          <use href="/src/images/symbol-defs.svg#icon-location"></use>
        </svg>
        <p class="address__text">
          Україна, м. Полтава,
          <span class="address__span">вул. Маршала Бірюзова, 15</span>
        </p>
      </a>
    </address>
    <ul class="hero__social social">
      <li class="social__item">
        <a class="social__link" href="https://www.instagram.com/">
          <svg class="social__icon" width="24" height="24">
            <use href="/src/images/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="https://www.facebook.com/">
          <svg class="social__icon" width="24" height="24">
            <use href="/src/images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="https://telegram.org/">
          <svg class="social__icon" width="24" height="24">
            <use href="/src/images/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
