<!-- Slider main container -->

<div class="slider-container">
  <div class="details-section-slider details-section-slider--left">
    <!-- Additional required wrapper -->
    <div class="details-section-slider__wrapper swiper-wrapper">
      <!-- Slides -->
      <!-- Slide 1 -->

       <!-- Slide 2 -->
      <div class="details-section-slider__slide swiper-slide">
        <img
          srcset="
            ./images/tablet/img-content-details270-5-desk-tablet.jpg 1x,
            ./images/tablet/img-content-details270-5-desk-tablet@2x.jpg 2x
          "
          class="details-section-slider__img"
          src="./images/tablet/img-content-details270-5-desk-tablet.jpg"
          alt=""
          width="162"
          height="270"
        />
      </div>
       <!-- Slide 3 -->
      <div class="details-section-slider__slide swiper-slide">
        <img
          srcset="
            ./images/tablet/img-content-details270-4-desk-tablet.jpg 1x,
            ./images/tablet/img-content-details270-4-desk-tablet@2x.jpg 2x
          "
          class="details-section-slider__img"
          src="./images/tablet/img-content-details270-4-desk-tablet.jpg"
          alt="М'ясне блюдо з ресторану"
          width="270"
          height="270"
        />

      </div>
      <div class="details-section-slider__slide swiper-slide">
        <img
          srcset="
            ./images/tablet/img-content-details270-6-desk-tablet.jpg 1x,
            ./images/tablet/img-content-details270-6-desk-tablet@2x.jpg 2x
          "
          class="details-section-slider__img"
          src="./images/tablet/img-content-details270-6-desk-tablet.jpg"
          alt=""
          width="270"
          height="270"
        />
      </div>
      <!-- /.swiper-wrapper -->
    </div>
    <!-- If we need navigation buttons -->
    <div class="details-section-slider__button-prev details-section-slider__button-prev--right swiper-button-prev"></div>
    <div class="details-section-slider__button-next details-section-slider__button-next--right swiper-button-next"></div>
    <!-- /swiper -->
  </div>
</div>
