<div class="slider">
  <div class="slide slide_1">
    <p>1</p>
  </div>
  <div class="slide slide_2">
    <p>2</p>
  </div>
  <div class="slide slide_3">
    <p>3</p>
  </div>
  <div class="slide slide_4">
    <p>4</p>
  </div>
  <div class="slide slide_5">
    <p>5-5</p>
  </div>
</div>

<div class="prev">
  <svg class="direc direc--mirror" width="24" height="24">
    <use href="/src/images/symbol-defs.svg#icon-arrow-right"></use>
  </svg>
</div>
<div class="next">
  <svg class="direc" width="24" height="24">
    <use href="/src/images/symbol-defs.svg#icon-arrow-right"></use>
  </svg>
</div>
