// .about {
//   padding-top: 16px;

//   @include mq(tablet) {
//     padding: 0;
//   }
// }

.about__text {
  width: 258px;
  margin-bottom: 28px;


  @include mq(tablet) {
    width: 439px;
  }

  @include mq(desktop) {
    width: 518px;
  }
}

.about__thumb {
  margin-bottom: 32px;

  @include mq(tablet) {
    position: relative;
    top: -44px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 26px;
    justify-content: center;

  }

  @include mq(desktop) {
    gap: 37px;
  }


}

.about__title {
  font-family: font(_times_);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(23/20);

  color: #B4B4B4;
  margin-bottom: 12px;


  @include mq(tablet) {
    font-size: 32px;
    line-height: calc(37/32);

  }

  @include mq(desktop) {
    margin-bottom: 4px;
  }
}

.about__description {
  font-family: font(_montserrat_);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15/12);
  letter-spacing: 0.02em;

  color: #5F5F5F;

  @include mq(tablet) {
    font-size: 16px;
    line-height: calc(20/16);

  }
}

.name {
  display: block;
  font-family: font(_film_);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43/40);
  margin-bottom: 12px;
  letter-spacing: 0.3em;
  text-transform: uppercase;

  color: var(--mimino-second-color);


  @include mq(tablet) {
    font-size: 64px;
    line-height: calc(69/64);
    margin-bottom: 24px;
  }

  @include mq(desktop) {
    color: var(--mimino-first-color);
  }
}

.about__feature {

  font-family: font(_montserrat_);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15/12);
  letter-spacing: 0.02em;
  color: #C79002;


  @include mq(tablet) {
    font-size: 16px;
    line-height: calc(20/16);
    width: 312px;
  }
}

.about__image {
  margin-left: auto;
  width: 244px;

  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;


  @include mq(tablet) {
    margin-left: 0;
    width: 400px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }

  @include mq(desktop) {
    width: 450px;
  }


}

.about__image--second {
  width: 200px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @include mq(tablet) {
    width: 350px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }

  @include mq(desktop) {
    width: 450px;
    margin-left: 0;
  }
}

.about__thumb-second {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 32px;

  @include mq(tablet) {
    margin: 0;
    gap: 48px;
    margin-left: 33px;
    position: relative;
    top: -58px;
    left: 20px;
  }

  @include mq(desktop) {
    gap: 32px;
    top: -112px;

  }
}