.menu {
    width: 100%;
    padding-top: 32px;
    padding-right: 18px;
    padding-bottom: 32px;
    padding-left: 15px;

    @include mq (tablet){
        padding-top: 58px;
        padding-right: 47px;
        padding-bottom: 40px;
        padding-left: 47px;
    }
}
.menu__title {
    font-family: font(_times_);
    margin-bottom: 40px;

    color: var(--black-text-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(37/32);
}

.menu__content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 16px;
    @include mq (tablet){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.menu__caption {
    font-family: font(_times_);
    margin-bottom: 16px;

    color: var(--black-text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: start;
}
.menu__tbody-desert{
    max-width: 430px;
    max-height: 132px;
}

.menu__tr-dish {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__dish {
    width: 225px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    color: var(--black-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17/14);
    letter-spacing: 0.02em;
    text-align: start;
}
.menu__dish-des {
    margin-bottom: 11px;
}

.menu__desc {
    max-width: 223px;
    margin-bottom: 8px;

    color: var(--black-text-color);
    font-weight: 400;
    font-size: 10px;
    line-height: calc(12/10);
    letter-spacing: 0.02em;
}
.menu__heft {
    width: 37px;
    text-align: end;
    white-space: nowrap;
    margin-right: 32px;
    margin-left: 32px;

    color: var(--black-text-color);
    font-weight: 300;
    font-size: 14px;
    line-height: calc(17/14);
    letter-spacing: 0.02em;
}
.menu__price {
    text-align: end;
    white-space: nowrap;
    color: var(--black-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(17/14);
    letter-spacing: 0.02em;
}

.button {
    width: 100%;

}