.menu {
    position: relative;
    width: 100%;
    padding:0;

    @include mq (tablet){
        
        
        background-color: var(--secondary-bg-color);
    }
}

.container-padding {
    padding-top: 32px;
    padding-bottom: 32px;

    @include mq(tablet){
        padding-top: 58px;
        padding-bottom: 40px;
    }

    @include mq(desktop){
        padding-bottom: 60px;
    }
}

// .container__menu {
//     position: relative;
//     @include mq (tablet){
//       padding-bottom: 40px;
//     }
//     @include mq (desktop){
//       padding-bottom: 60px;
//     }
//   }
.menu__title {
    font-family: font(_times_);
    margin-bottom: 40px;

    color: var(--black-text-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(37/32);
}

.menu__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 32px;
    @include mq (tablet){
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 88px;
    }
    @include mq (desktop){
        gap:140px;
    }
}
.menu__caption {
    font-family: font(_times_);
    margin-bottom: 16px;

    color: var(--black-text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: start;
}
.menu__tr-dish {
    @include mq (mobile){
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
}

.menu__dish {
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    color: var(--black-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17/14);
    letter-spacing: 0.02em;
    text-align: start;
    @include mq (mobile){
        width: 225px;
    }
    @include mq (desktop){
        width: 258px;
    }
}
.menu__dish-des {
    margin-bottom: 11px;
}

.menu__desc {
    width: 180px;
    margin-bottom: 8px;

    color: var(--black-text-color);
    font-weight: 400;
    font-size: 10px;
    line-height: calc(12/10);
    letter-spacing: 0.02em;
    @include mq (mobile){
        width: 223px;
    }
    @include mq (desktop){
        width: 258px;
    }
}
.menu__heft {
    width: 37px;
    text-align: end;
    white-space: nowrap;
    margin: 0 32px;

    color: var(--black-text-color);
    font-weight: 300;
    font-size: 14px;
    line-height: calc(17/14);
    letter-spacing: 0.02em;
    @include mq (tablet){
        margin: 0 59px;
    }
}
.menu__price {
    text-align: end;
    white-space: nowrap;
    color: var(--black-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: calc(17/14);
    letter-spacing: 0.02em;
}
.container__btn {
    display: flex;
    justify-content: center;

    @include mq(tablet){
        justify-content: flex-end;
    }
    
}
.button__menu {
    width: 100%;
    
    padding: 15px 24px;
    letter-spacing: 0;
    @include mq (mobile){
        width: 236px;
    }
    @include mq (tablet){
        position: relative;
        bottom: 0;
        right: 0;
    }
    @include mq (desktop){
        right: 85px;
    }
}