.footer {
  margin-inline: auto;
  max-width: $container-width-mobile;
  background-color: var(--footer-bg-color);

  @media screen and (min-width: $container-width-tablet) {
    max-width: $container-width-tablet;
  }

  @media screen and (min-width: $container-width-desktop) {
    max-width: $container-width-desktop;
  }

  &__container {
    padding-block: 40px;

    @media screen and (min-width: $container-width-tablet) {
      padding-block: 80px;
    }
  }
}
.logo {
  text-decoration: none;
  color: var(--yellow-text-color);
  font-family: font(_film_);
  font-weight: Bold;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0.03em;
}
// .footer-nav {
//   // display: flex;
//   // justify-content: space-evenly;
// }
.footer-nav__list {
  list-style: none;
  padding: 0;
  margin: 0 0 32px 0;
}

.footer-nav__item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.footer-nav__link {
  text-decoration: none;
  color: var(--yellow-text-color);
}
.footer-social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  // display: flex;
  // align-items: center;
  // gap: 20px;
  // justify-content: flex-end;
}

.footer-social-list__item {
  padding: 0;
  margin: 0;
}
.footer-social-list__link {
  fill: var(--yellow-text-color);
}
