.header {
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: transparent;

  @include mq(tablet) {
    top: 24px;
  }
}

.header-nav {
  .header-nav__list {
    margin-top: 25px;
    display: flex;
    align-items: center;

    @include mq(not-desktop) {
      gap: 0px;
    }

    @include mq(tablet-only) {
      justify-content: space-evenly;
    }
  }
  &__item {
    display: flex;
    align-items: center;

    &:nth-child(2) {
      margin-right: res(34px);
    }
  }

  &__link {
    display: flex;
    @extend %link;
    color: var(--second-yellow-color);
    font-weight: 500;
    font-size: res(16px);
    line-height: 1.2;
    letter-spacing: 0.02;

    @include mq(tablet) {
      font-size: 20px;
      margin-right: 46px;
    }
  }

  &__phone {
    @extend %link;
    display: flex;
    align-items: center;
    color: var(--white-text-color);
    gap: res(8px);

    @include mq(tablet) {
      padding: 9px;
    }
  }

  &__phone--restaraunt {
    border: none;

    @include mq(tablet) {
      border: 1px solid var(--second-yellow-color);
      border-radius: 2px;
      padding: 8px;
    }
  }
  &__item--hotel {
    display: flex;
    align-items: center;
  }

  &__numbers {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: res(12px);

    @include mq(tablet) {
      border: 1px solid var(--second-yellow-color);
    }
  }

  &__svg {
    width: res(24px);
    height: res(24px);
    fill: var(--second-yellow-color);
  }

  &__number {
    display: none;
    font-weight: 400;
    font-size: res(14px);
    line-height: 1.22;
    color: var(--white-text-color);
    letter-spacing: 0.02em;

    @include mq(tablet) {
      display: block;
    }
  }
}
